{% extends 'beatbuddy/basic.html' %}
{% block title %} About Us {% endblock %}

{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }


    header {
        background-color: #343a40;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    header h1 {
        margin: 0;
    }

    main {
        padding: 20px;
    }

    section {
        margin-bottom: 30px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #343a40;
    }

    p {
        color: #666;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 5px;
    }
</style>
    <main>
        <h1 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 100;">BEATBUDDY</h1>
        <section>
            <h2>Our Story</h2>
            <p>Beat Buddy is a revolutionary music streaming platform that aims to connect music lovers with their favorite artists and discover new talents from around the globe. Founded in 2024, our journey began with a simple idea: to create a platform that celebrates music in all its forms.</p>
            <p>Since then, we've worked tirelessly to build a community-driven platform that empowers both artists and listeners. From indie musicians to chart-topping superstars, Beat Buddy provides a space for everyone to share their passion for music.</p>
        </section>

        <section>
            <h2>Our Mission</h2>
            <p>At Beat Buddy, our mission is to enrich people's lives through the power of music. We believe that music has the ability to inspire, uplift, and unite people from all walks of life. That's why we're dedicated to creating an inclusive platform where everyone can find their rhythm and express themselves through music.</p>
        </section>
    </main>
{% endblock %}
